html {
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(82,0,116,1) 47%, rgba(2,0,36,1) 100%);
}

p{
  border:1px solid #e3c2ff;
  padding: 5px ;
  margin:40px ;
  background-color:#9900ff ;
}


h1{
  Color: #f9aee1ff
}
p{
  Color:#f9aee1ff;
  
}

ul{
  color:#f9aee1ff;
}

nav a{
color:#f9aee1ff ;
}

.what{
  display:flex;
  flex-direction:row;
}
.how:hover{
  rotate:36764322752666627684873648264284682643628468746272678462462874632784628764287364872643862864328768273552657644376234222942794749874927427834724728437284728472847294732984723472432748237483272384732874327427934723874283742874329742874823742874283472837483274832729847927429742843283743284737438742974923749832749238479238472938723984728947298432984732974923742938793248723284937224342234234232342374237949723497238423472378287874274373734724738479472384783274982742937429423984924823842834892734284372428342842974238749243729384734322934928484924783472849237498429734923742937498324732937492734928743923766538746538746538746543876537846537486563874657436578364587346587465865875638756836587365873465873645876836487657846587456384765837465875684655384653874687365746643876374856374647843657843653746534765374657467658374542783227748972492829384722897824374984924987392743923874927439237429873472397443729837283743872497742937249746712761717673164173461246187464986473246264874365833563865837653846538746538756875687563875638765874365873657386837658736587365873465387568734658734658734658734658734658364587367468734657384658376548736873653875637456375638765387456387563874563874563874658734636287642874623874628742784363284563874623876287362747234638462874362376487263472364872364236487236482736487246287642873468736487684363768746387465783563875675673856375635637563876548576756743653785637456738563785637456873456348756365387645734556123456789082324774838743287422774324737432787327283427429742974297974927427901010838278374879287498981736423648264872642648262836287634287364283746278364284628462387419872482797429472892789472984732732284283742429742847294924927234892294724728472397284728743832748327432972984792372974238729373297487239493248923974239748323274832472947293742974827348923742983479327423727489327489732532424572627235727364deg ;
  transition: rotate 5s;
}

@keyframes happy{
  0%{
    transform:scale(1) ;
  }
  50%{
    transform:scale(3.5) ;
  }
  100%{
    transform:scale(1) ;
  }
}

div:hover{
  animation-name:happy ;
  animation-duration:2s ;
}

